<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mini Stack Exchange</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Mini Stack Exchange</h1>

   
    

    <h2>Ask a new question</h2>
    <form action="{{ url_for('ask_question') }}" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required />
        <br />
        <label for="content">Content:</label>
        <textarea name="content" id="content" required></textarea>
        <br />
        <input type="submit" value="Submit" />
    </form>
    <h2>Search Questions</h2>
    <form action="{{ url_for('search_questions') }}" method="get">
        <label for="query">Search:</label>
        <input type="text" name="query" id="query" required />
        <input type="submit" value="Search" />
        <a href="{{ url_for('home') }}" class="clear-search">Clear Search</a>
    </form>
    

    <h2>Questions</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Top-rated Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>
                        <a href="{{ url_for('view_question', question_id=question.id) }}">{{ question.title }}</a>
                    </td>
                    <td>{{ question.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>
                        {% set top_answer = question.answers|sort(attribute='rating', reverse=True)|first %}
                        {% if top_answer %}
                            {{ top_answer.content }}
                        {% else %}
                            No answers yet
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
